<p>The <code>push()</code> method adds one or more elements to the end of an array and returns the new length of the array.</p>

<p>I was trying to boot my computer, but I got this hilarious message:</p>

<p><samp>Keyboard not found <br>Press F1 to continue</samp></p>

<p>Please press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> to re-render an MDN page.</p>

<p>The volume of a box is <var>l</var> × <var>w</var> × <var>h</var>, where <var>l</var> represents the length, <var>w</var> the width and <var>h</var> the height of the box.</p>

<pre>
    L          TE
      A       A
        C    V
         R A
         DOU
         LOU
        REUSE
        QUE TU
        PORTES
      ET QUI T'
      ORNE O CI
       VILISÉ
      OTE-  TU VEUX
       LA    BIEN
      SI      RESPI
              RER       - Apollinaire
</pre>
