<p>
  Somes text <a href="#remove-from-history" class="pseudo-class-link">liens</a>
  around <a href="#" class="pseudo-class-hover">lien au survol</a>
  links, for <a href="#" class="pseudo-class-active">lien actif</a>
  a real render <a href="#" class="pseudo-class-focus">lien avec le focus</a>
  context <a href="#" class="pseudo-class-visited">lien visité</a>.
</p>

<h1><a href="#">Link inside heading</a></h1>
<h2><a href="#">Link inside heading</a></h2>
<h3><a href="#">Link inside heading</a></h3>
<h4><a href="#">Link inside heading</a></h4>
<h5><a href="#">Link inside heading</a></h5>
<h6><a href="#">Link inside heading</a></h6>
