<p>Paragraphes standard</p>

<address>
 <a href="mailto:john@example.com">john@example.com</a><br>
 <a href="tel:+311-555-5555">+311-555-5555</a><br>
</address>

<blockquote>
    <p>It was a bright cold day in April, and the clocks were striking thirteen.</p>
    <footer>
        First sentence in <cite><a href="http://www.george-orwell.org/1984/0.html"><i>Nineteen Eighty-Four</i></a> by George Orwell (Part 1, Chapter 1)</cite>.
    </footer>
</blockquote>

<blockquote cite="https://www.huxley.net/bnw/four.html">
  <p>Words can be like X-rays, if you use them properly – they'll go through anything. You read and you're pierced.</p>
</blockquote>

<cite>– Aldous Huxley, Brave New World</cite>


<p>
  First sentence in <cite><a href="http://www.george-orwell.org/1984/0.html"><i>Nineteen Eighty-Four</i></a> by George Orwell (Part 1, Chapter 1)</cite>.
</p>

<p>
  When Dave asks HAL to open the pod bay door, HAL answers: <q cite="https://www.imdb.com/title/tt0062622/quotes/qt0396921">I'm sorry, Dave. I'm afraid I can't do that.</q>
</p>
