<div class="styleguide-boxes">
  <div class="--border-width-thin"></div>
  <code>--border-width-thin</code>
  <div class="--border-width"></div>
  <code>--border-width</code>
  <div class="--border-width-large"></div>
  <code>--border-width-large</code>
</div>

<div class="styleguide-boxes">
  <div class="--border-color-quiet"></div>
  <code>--border-color-quiet</code>
  <div class="--border-color"></div>
  <code>--border-color</code>
  <div class="--border-color-loud"></div>
  <code>--border-color-loud</code>
</div>
