<figure data-responsive="cover" class="cover">
  <img src="{{cover.src}}" alt="{{cover.alt}}">
  {{#cover.legend}}<figcaption class="container" data-markdown>{{{cover.legend}}}</figcaption>{{/cover.legend}}
  {{! @todo: src-set }}
</figure>
